@charset "utf-8";
/*Simplify width and height calculations*/
html {
	box-sizing: border-box;	
}
*, *:before, *:after {
	box-sizing: inherit;
}

#wowslider-container1  {
	margin-top: 3%;
	max-width: 100%;
	margin-left: 9%;
	float: none;
}
#slider_background   {
	background-color: rgba(0,0,0,0.41);
	position: relative;
	display: block;
	top: 68em;
	z-index: 5;
	height: 26px;
	width: 83%;
}
main#AboutUs {
	width: 43%;
	margin-left: 9%;
	float: left;
	padding-right: 0%;
}
#AboutUs h2 {
	font-size: 50px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	;
	;
}
aside#GroupImg  {
	margin-left: 5%;
	display: inline-block;
}
#wrapper #part1 {
	margin-top: 40px;
}








@media (max-width:1396px){


}
